body {
    background: #fff;
}
input {
    width: 75vw;
    height: 10vh;
    border-radius: 100px;
    color: #000;
    border-color: #e9e9ff;
    border: solid 1vw;
    background: #fff;
    font-size: 5vw;
    margin-right: 3vw;
    padding-left: 3vh;
}
button {
    background: #e9e9ff;
    color: #000;
    width: 20vw;
    height: 10vh;
    font-size: 5vw;
    border-radius: 25%;
}
form {
    display: flex;
    justify-content: center;
    margin-top: 10vw;
}
h1 {
    text-align: center;
    font-size: 10vw;
}
h2 {
    width: 90vw;
    color: #f00;
    background: #ff0;
    border: #f00 solid 3vw;
    padding: 5vw;
    margin: 5vw;
}
@media (min-width: 800px) {
    form {
        margin-top: 5vw;
    }
    input {
        height: 15vh;
        font-size: 2.5vw;
        padding-left: 3vw;
    }
    h1 {
        font-size: 5vw;
    }
    h2 {
        font-size: 200%;
        padding: 2.5vw;
        border: #f00 solid 3vh;
    }
    button {
        width: 10vw;
        height: 15vh;
        font-size: 2.5vw;
    }
}
